/* Write your code here. */
.emoji-item {
    width: 32%;
    list-style-type: none;
    margin: 8px 0px;
  }
  @media screen and (min-width: 992px) {
    .emoji-item {
      width: 24%;
    }
  }
  button {
    background-color: #ffffff40;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 120px;
    border: 1px solid white;
    border-radius: 12px;
  }
  @media screen and (min-width: 768px) {
    button {
      height: 200px;
    }
  }
  .emoji-icon {
    width: 50px;
  }
  @media screen and (min-width: 768px) {
    .emoji-icon {
      width: 100px;
    }
  }
  